<h2>Create New Residence</h2>

<form action="/residences" method="POST">
  <h3>Residence Info</h3>
  <label>Address:</label>
    <input type="text" name="residence[address]" id="residence_address"><br>
    <label>Deposit Amount:</label>
    <input type="number" name="residence[deposit]" id="residence_deposit"><br>
    <label>Was this Deposit refunded?</label>
    <input type="radio" name="residence[deposit_refunded]" id="residence_deposit_refunded" value="true">Yes
    <input type="radio" name="residence[deposit_refunded]" id="residence_deposit_refunded" value="false">No
  <p>
  <p>
  <label>Enter a new Landlord's name:</label>
    <input type="text" name="landlord[name]" id="new_landlord_name">
  <p>
  <h3>Who lives/lived here with you?</h3>
  <label>Enter a new Roommate's name:</label>
    <input type="text" name="roommate[name]" id="new_roommate_name">

  <p>
    <h3>Is this your current residence?</h3>
    <input type="radio" name="residence[primary_residence]" value=true>Yes</input>
    <input type="radio" name="residence[primary_residence]" value=false>No</input>
  <p>
  <p>
  <input type="submit" value="Create New Residence">
</form>
<form action="/users/<%=@user.id%>" method="GET">
  <input type="submit" value="Cancel">
</form>
